@model PersonnelMVCUI.Models.EntityFramework.Department
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Save", "Department", FormMethod.Post))
{
    @Html.AntiForgeryToken() // Cookie created in UI > Console > Application
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    @Html.HiddenFor(m => m.Id)
    <button type="submit" class="btn btn-success">Save</button>
}

@section scripts
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}