@model PersonnelMVCUI.Models.EntityFramework.Department
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="message">

</div>
@using (Ajax.BeginForm("Save", "Department", new AjaxOptions { HttpMethod="POST", UpdateTargetId="message"}))//Show to div with id "message", returning result from Save actionResult of Department controller
{
    @Html.AntiForgeryToken() // Cookie created in UI > Console > Application
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    @Html.HiddenFor(m => m.Id)
    <button type="submit" class="btn btn-success">Save</button>
}

@section scripts
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}