@using PersonnelMVCUI.Models.EntityFramework
@model List<Department>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a class="btn btn-success" href="/Department/New">New Department</a>
<h2>Department List</h2>
<table class="table table-bordered" id="tblDepartments">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Update</th>
            <th>Delete</th>
            <th>Personnels</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var department in Model)
        {
            <tr>
                <td>@department.Id</td>
                <td>@department.Name</td>
                <td><a class="btn btn-primary" href="/Department/Update/@department.Id">Update</a></td>
                <td><a class="btn btn-warning btnDeleteDepartment" data-id="@department.Id">Delete</a></td>
                @*<td>@Html.ActionLink("Show Personnels","ListPersonnels","Personnel",new { id=department.Id},new {@class="btn btn-primary"})</td>*@
                <td>@Ajax.ActionLink("Show Personnels", "ListPersonnels", "Personnel", new { id = department.Id }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId="listOfPersonnel" }, new { @class = "btn btn-primary" })</td>
            </tr>
        }

    </tbody>
</table>

<div id="listOfPersonnel"></div>