@model PersonnelMVCUI.ViewModels.PersonnelFormViewModel
@{
    ViewBag.Title = "PersonnelForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Personnel Form</h2>
@*@Html.ValidationSummary()   //This line for,line by line listing error messages in up of the form *@
@using (Html.BeginForm("Save", "Personnel", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.Personnel.Name)
        @Html.TextBoxFor(m => m.Personnel.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Personnel.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Personnel.Surname)
        @Html.TextBoxFor(m => m.Personnel.Surname, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Personnel.Surname)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Personnel.DepartmentId)
        @Html.DropDownListFor(m => m.Personnel.DepartmentId, new SelectList(Model.Departments, "Id", "Name"), "Select Department", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Personnel.DepartmentId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Personnel.Salary)
        @Html.TextBoxFor(m => m.Personnel.Salary, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Personnel.Salary)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Personnel.BirthDate)
        @Html.TextBoxFor(m => m.Personnel.BirthDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date", onchange= "CheckDateTypeIsValid(this)" })
        @Html.ValidationMessageFor(m => m.Personnel.BirthDate)
    </div>
    <div class="radio">
        <label>
            @Html.RadioButtonFor(m => m.Personnel.Gender, true) Male
        </label>
        <label>
            @Html.RadioButtonFor(m => m.Personnel.Gender, false) Female
        </label>
        @Html.ValidationMessageFor(m => m.Personnel.Gender)
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Personnel.IsMarried) Married
        </label>
    </div>
    @Html.HiddenFor(m => m.Personnel.Id)
    <button type="submit" class="btn btn-default">Save</button>
}
@section scripts
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}