
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
    @System.Web.Optimization.Styles.Render("~/bundles/css")
</head>
<body>
    @Html.Partial("_Navbar")
    <div class="container">
        @RenderBody()
    </div>

    @System.Web.Optimization.Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", false) @*// This line mean: There will be a section named "scripts", "false" mean: its not required*@
</body>
</html>
